.tf-posts.no-carousel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

.tf-posts.no-carousel.column-1 .item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.tf-posts.no-carousel.column-2 .item {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.tf-posts.no-carousel.column-3 .item {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.tf-posts.no-carousel.column-4 .item {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

@-webkit-keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}
@keyframes circle {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    100% {
        width: 200%;
        height: 200%;
        opacity: 0;
    }
}

/* style-1 */

.tf-posts .blog-post {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.tf-posts .blog-post .featured-post {
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 22px;
}

.tf-posts .blog-post .tf-button-container a {
    font-size: 16px;
    font-weight: 500;
    line-height: 31px; 
    color: #000;
}

.tf-posts .blog-post .tf-button-container a:hover {
    color: var(--theme-primary-color);
}

.tf-posts .blog-post .tf-button-container a:hover i {
    -webkit-animation: toRightFromLeft 0.3s forwards;
    -moz-animation: toRightFromLeft 0.3s forwards;
    animation: toRightFromLeft 0.3s forwards;
}

@keyframes toRightFromLeft {
    49% {
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

.tf-posts .blog-post .featured-post a {
    width: 100%;
    display: block;
}

.tf-posts .blog-post .featured-post .blog-plus {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 30px;
    -webkit-transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, -webkit-transform 500ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease;
    transition: opacity 500ms ease, visibility 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
    visibility: hidden;
    opacity: 0;
}

.tf-posts .blog-post:hover .featured-post .blog-plus {
    visibility: visible;
    opacity: 0.6;
    cursor: pointer;
}

.tf-posts .blog-post .featured-post img {
    object-fit: cover;
    width: 100%;
    border-radius: 0;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

.tf-posts .blog-post:hover .featured-post img {
    transform: scale(1.05);
}


.tf-posts .blog-post .title {
    color: #121212;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 10px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.tf-posts .blog-post .description {
    color: #64666C;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tf-posts .blog-post .title a {
    color: inherit;
}

.tf-posts .blog-post .title a:hover {
    color: var(--theme-primary-color);
}

.tf-posts .blog-post .category-post a {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.tf-posts .blog-post .day-post {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 12px 0 0;
    padding: 5px 20px;
    background: var(--theme-primary-color);
}

.tf-posts .blog-post .day-post a {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.tf-posts .blog-post .day-post a .day {
    font-size: 30px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;    
}

.tf-posts .blog-post .meta-post {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 13px;
}

.tf-posts .blog-post .meta-post li {
    position: relative;

}

.tf-posts .blog-post .meta-post li:not(:last-child)::before {
    content: '';
    width: 16px;
    height: 1px;
    background: #121212;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -26px;
}


.tf-posts .meta-post .author-post {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.tf-posts .blog-post .meta-features .category-post {
    display: flex;
    align-items: center;
}

.tf-posts .blog-post .meta-features .category-post a {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.135em;
    text-transform: uppercase;
}


.tf-posts .blog-post .meta-post .post-meta a:hover {
    color: var(--theme-primary-color);
}


.tf-posts .item {
    display: flex;
      display: -webkit-box;

}

.tf-posts .item .blog-post {
    display: flex;
        display: -ms-flexbox;
    flex-direction: column;
}

.tf-posts .meta-post {
    display: flex;
    align-items: center;
}

.tf-posts .meta-post li:not(:last-child) {
    margin-right: 35px;
}

.tf-posts .meta-post .day-post,
.tf-posts .meta-post .post-comment {
    display: flex;
    align-items: center;
}

.tf-posts .meta-post li > *,
.tf-posts .meta-post li {
    color: #64666C;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;

}

.tf-posts .blog-post .meta-post li.hide-icon .post-comment::before {
    display: none;
}

/* style 2 */

.tf-posts.style2 .blog-post {
    position: relative;
    width: 100%;
}

.tf-posts.style2 .blog-post .featured-post {
    margin-bottom: 0;
}

.tf-posts.style2 .blog-post .day-post {
    position: absolute;
    left: 0;
    bottom: auto;
    top: 0;
    border-radius: 0 0 12px 0;
    padding: 5px 20px;
    background: var(--theme-primary-color);
}

.tf-posts.style2 .blog-post .content {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    border-radius: 16px 16px 0 0;
    padding: 20px;
    margin: 0 20px;
}

.tf-posts.style2 .blog-post .content .title {
    margin-bottom: 0;
}


/* mansory */

.tf-posts.layout-mansory.no-carousel {
    display: block;
    column-gap: 0px;
}

.tf-posts.layout-mansory.no-carousel.column-3 {
    column-count: 3;
}

.tf-posts.layout-mansory.no-carousel.column-4 {
    column-count: 4;
}

.tf-posts.layout-mansory.no-carousel.column-2 {
    column-count: 2;
}

.tf-posts.layout-mansory.no-carousel.column-1 {
    column-count: 1;
}

.tf-posts.layout-mansory.no-carousel .item {
    max-width: unset !important;
    break-inside: avoid;
}

.tf-posts.layout-mansory.no-carousel .blog-post .featured-post img {
    height: unset;
}

/* Carousel  */
.tf-posts.has-carousel .owl-nav .owl-prev,
.tf-posts.has-carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 5px;
    color: #fff;
    text-align: center;
    padding: 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.tf-posts.has-carousel .owl-nav {
    position: absolute;
}

.tf-posts .owl-carousel .owl-nav .owl-next,
.tf-posts .owl-carousel .owl-nav .owl-prev {
    border: 3px solid #e8e8e9;
}

.tf-posts.has-carousel .owl-nav .owl-next {
    left: unset;
    right: 0;
}

.tf-posts.has-carousel .owl-nav .owl-prev:before,
.tf-posts.has-carousel .owl-nav .owl-next:before,
.tf-posts.has-carousel .owl-dots .owl-dot:before {
    display: none;
}

.tf-posts.has-carousel.no-arrow .owl-nav .owl-prev,
.tf-posts.has-carousel.no-arrow .owl-nav .owl-next {
    display: none;
}

.tf-posts.has-carousel.has-arrow .owl-nav .owl-prev,
.tf-posts.has-carousel.has-arrow .owl-nav .owl-next {
    display: block;
}

.tf-posts .owl-dots {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.tf-posts .owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    background: #64666C;
    position: relative;
}

.tf-posts .owl-dots .owl-dot::after {
    content: '';
    width: 18px;
    height: 18px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tf-posts .owl-carousel .owl-dots .owl-dot.active {
    background-color: #121212;
}

.tf-posts .owl-carousel .owl-dots .owl-dot.active::after {
    border-color: #121212;
}

.tf-posts.has-carousel.no-bullets .owl-dots,
.tf-posts .owl-nav.disabled {
    display: none;
}

.tf-posts.has-carousel.has-bullets .owl-dots {
    display: block;
}

.tf-posts .pagination-post {
    width: 100%;
}

@media (max-width: 991px) {
    .tf-posts.no-carousel.tablet-column-1 .item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .tf-posts.no-carousel.tablet-column-2 .item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .tf-posts.no-carousel.tablet-column-3 .item {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .tf-posts.layout-mansory.no-carousel.tablet-column-3 {
        column-count: 3 !important;
        width: unset;
    }

    .tf-posts.layout-mansory.no-carousel.tablet-column-2 {
        column-count: 2 !important;
        width: unset;

    }

    .tf-posts.layout-mansory.no-carousel.tablet-column-1 {
        column-count: 1 !important;
        width: unset;

    }

}

@media (max-width: 767px) {
    .tf-posts.no-carousel.mobile-column-1 .item {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

   .tf-posts.layout-mansory.no-carousel.mobile-column-2 {
        column-count: 2 !important;
    }

   .tf-posts.layout-mansory.no-carousel.mobile-column-1 {
        column-count: 1 !important;
    }

    .tf-posts.no-carousel.mobile-column-2 .item {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .tf-posts.style3 .blog-post .content {
        padding: 30px 20px;
    }
}

@media (max-width: 600px) {
    .tf-posts.style4 .blog-post {
        flex-direction: column;
    }

    .tf-posts.style4 .blog-post .content,
    .tf-posts.style4 .blog-post .featured-post {
        width: 100%;;
    }

    .tf-posts.style4 .blog-post .content {
        margin-left: 0;
    }
}